# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/

# Node
node_modules/
.next/
out/
build/
.DS_Store

# Google Cloud
.config/
gcloud/

# IDE
.vscode/
.idea/

# Local
infra/workspace_env.sh
*.log
